.app-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list-container {
  margin-top: 10px;
  border: 1px solid black;
  width: 150px;
  height: 180px;
  border-radius: 5px;
  padding: 10px;
}

.list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 10px;
}
